---
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"div"> & {
  /**
   * Whether the label is inset (has left padding)
   */
  inset?: boolean;
};

export const dropdownLabel = tv({
  base: ["px-2xs py-3xs-2xs font-semibold"],
  variants: {
    inset: {
      true: "pl-l",
    },
  },
  defaultVariants: {
    inset: false,
  },
});

const { class: className, inset = false, ...rest } = Astro.props;
---

<div class={dropdownLabel({ inset, class: className })} data-slot="dropdown-label" {...rest}>
  <slot />
</div>
