---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="mb-0 font-bold">Dr. Dalibor Pavlişan</h1>
  <h2>Dedicat pentru Sănătatea și Echilibrul Dumneavoastră</h2>
  <p>
    Sunt Dr. Dalibor Pavlișan, medic primar Medicină de Familie, cu specializare în acupunctură și terapii complementare. Lucrez 1-la-1, cu protocoale personalizate și ace sterile de unică folosință, pentru a sprijini mecanismele naturale de vindecare ale organismului.
  </p>
  <h2 >De ce abordare integrativă</h2>
  <p>
    Corpul, mintea și emoțiile sunt interconectate. În loc să tratez doar simptomul, caut cauza, combinând metode validate în timp (acupunctură, moxibustie, Su Jok, electroacupunctură) cu intervenții blânde și complementare (<a class="pretty-link" href="/terapii">apipunctură/venin de albine cu test de sensibilitate, homeomezoterapie, fitoterapie, aromaterapie, Terapia Florală Bach, psihoterapie integrativă <a/>). Rezultatul: planuri adaptate pe nevoia ta, cu accent pe siguranță și eficacitate.
  </p>
  <h2>Cum lucrăm împreună</h2>
    <dl class="list-disc text-step-2">
      <dt>➢ Consultație inițială.</dt>
        <dd>Discutăm istoricul, obiectivele și factorii de stil de viață.</dd>
      <dt>➢ Plan personalizat.</dt> 
        <dd>Alegem tehnicile potrivite (de la acupunctură la suport psiho-emoțional).</dd>
      <dt>➢ Ședințe 1-la-1.</dt> 
        <dd>Proceduri în ritm sigur și confortabil, cu monitorizarea răspunsului.</dd>
      <dt>➢ Urmărire și ajustare.</dt>
        <dd>Ajustăm protocolul în funcție de progresul tău.</dd>
    </dl>
  </Layout>
