---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="font-bold mb-0">Dr. Dalibor Pavlişan</h1>
  <h2 class="font-medium"> Dedicat pentru Sănătatea și Echilibrul Dumneavoastră</h1>
  <p >Sunt Dr. Dalibor Pavlisan, medic primar Medicină de Familie cu o pasiune profundă pentru medicina integrativă și terapiile complementare. De-a lungul anilor de practică medicală, am înțeles că adevărata vindecare implică o abordare a întregii ființe umane – corp, minte și spirit. De aceea, am ales să îmi dedic cariera explorării și aplicării unor metode terapeutice care activează resursele naturale de autovindecare ale organismului.</p>
  <h2 class="font-medium mt-5 mb-3">Parcurs Profesional și Filosofie</h2>
  <p >În anul 2002 am absolvit Medicină Generala din cadrul Universităţii de Medicină şi Farmacie Victor Babeş din Timişoara , a urmat stagiatura şi apoi rezidenţiatul, am devenit medic specialist Medicină de Familie în anul 2006.</p>
  <p >Cu o bază solidă în medicina clasică, m-am specializat în Acupunctură, recunoscând-o ca pe o cale eficientă de restaurare a fluxului energetic vital. Experiența mea include diverse ramuri ale acupuncturii, de la Acupunctura Clasică Chineză la Acupunctura Su Jok, Moxibustie, ElectroAcupunctură, precum și tehnici inovatoare precum Homeomezoterapie și Apipunctură.</p>
  <p >Dincolo de aspectele fizice, sunt un susținător convins al interconectării dintre minte și corp. Specializarea mea în Psihoterapie Integrativă, alături de cunoștințele aprofundate în Homeopatie, Apiterapie, Fitoterapie, Aromaterapie și Terapie Florală Bach, îmi permit să ofer o perspectivă amplă și instrumente personalizate pentru gestionarea stresului, a emoțiilor și pentru atingerea echilibrului psiho-emoțional.</p>
  <p >"Fiecare pacient este unic, iar la cabinetul meu din Timișoara, vă asigur un spațiu de tratament dedicat, unde intimitatea și siguranța sunt esențiale. Lucrez individual cu fiecare persoană, folosind doar ace sterile de unică folosință și adaptând protocolul terapeutic nevoilor specifice ale dumneavoastră."</p>
  <h2>Misiunea Mea</h2>
</Layout>