---
import Layout from '../layouts/Layout.astro';
import TimeTable from '../components/TimeTable.astro';
---

<Layout>
  <h1>Contact</h1>
  <h3>
    <strong>Telefon:</strong>
    <a href="tel:+40741010889" class="pretty-link">
      +40 741 010 889
    </a>
  </h3>
  <h3>
    <strong>Email:</strong>
    <a href="mailto:dr_dalibor_pavlisan@yahoo.com" class="pretty-link">
      dr_dalibor_pavlisan@yahoo.com
    </a>
  </h3>
  <h3>
    <strong>Adresă Cabinet:</strong>
    <a href="https://maps.app.goo.gl/osb3zHiCoyVGVgw89" class="pretty-link"
      >Strada Teiului, Nr. 14, Timișoara</a
    >
  </h3>
  <TimeTable />
</Layout>
