---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import ace from '../assets/ace.png';
import { Item, ItemContent, ItemTitle, ItemDescription, ItemActions} from "@/components/starwind/item";
import { Button } from "@/components/starwind/button";
---

<Layout>
  <Image src={ace} alt="ace" height="200" width="800" class="rounded-2xl mb-0"/>
  <h1 class="mt-xs mb-0">
    Sănătatea și Echilibrul Natural 
  </h1>
  <h1 class="font-semibold text-step-3 mt-0 mb-0 text-right">
    cu
    <a href="/about" class="pretty-link">
      Dr. Dalibor Pavlişan
    </a>
  </h1>
  <h2 class="font-medium">
    Un pacient la un moment. Tratament creat pentru tine.
  </h2>
  <p>
    În cabinetul nostru, fiecare pacientă devine o cale spre echilibru. Combinăm experiența, atenția
    și înțelegerea profundă a energiei corpului pentru a sprijini procesul tău natural de vindecare.
  </p>

  
<Item variant="outline">
  <ItemContent>
    <ItemTitle>Incepeti drumul spre echilibru</ItemTitle>
    <ItemDescription>A simple item with title and description.</ItemDescription>
  </ItemContent>
  <ItemActions>
    <Button variant="outline" size="sm">Action</Button>
  </ItemActions>
</Item>
</Layout>
