---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-3xl font-bold mb-1">Vindecare prin echilibru</h1>
  <h2 class="text-xl font-medium mb-1">Un pacient la un moment. Tratament creat pentru tine.</h2>
  <p class="text-lg">În cabinetul nostru, fiecare ac pacientă devine o cale spre echilibru. Combinăm experiența, atenția și înțelegerea profundă a energiei corpului pentru a sprijini procesul tău natural de vindecare.</p>
</Layout>