---
// layout import 
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/starwind/button";
---
<Layout>
<div class="bg-blue-300/90 rounded-3xl px-m py-xs mx-xs flex flex-row ">
  <div class="">
    This is a test
  </div>
  <div class="text-black text-lg md:text-xl lg:text-2xl font-semibold grow">
  Sănătate și Echilibru Natural în Timișoara cu Dr. Dalibor Pavlisan
  </div>
</div>
</Layout>
