---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="font-bold">Sănătate și Echilibru Natural  în Timișoara cu <a href="/about" class="pretty-link">Dr. Dalibor Pavlişan</a>
</h1>
  <h2 class="font-medium">Un pacient la un moment. Tratament creat pentru tine.</h2>
  <p> În cabinetul nostru, fiecare pacientă devine o cale spre echilibru. Combinăm experiența, atenția și înțelegerea profundă a energiei corpului pentru a sprijini procesul tău natural de vindecare.</p>
</Layout>