---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="mb-0">
    Sănătate și Echilibru Natural 
  </h1>
  <h1 class="font-semibold text-step-3 mt-0 text-right">
    cu
    <a href="/about" class="pretty-link">
      Dr. Dalibor Pavlişan
    </a>
  </h1>
  <h2 class="font-medium">
    Un pacient la un moment. Tratament creat pentru tine.
  </h2>
  <p>
    În cabinetul nostru, fiecare pacientă devine o cale spre echilibru. Combinăm experiența, atenția
    și înțelegerea profundă a energiei corpului pentru a sprijini procesul tău natural de vindecare.
  </p>
</Layout>
