---
// layout import 
import Layout from "@/layouts/Layout.astro";
---
<Layout>
<div class="bg-blue-300/90 rounded-3xl px-m py-m mx-xs flex flex-row ">
  <div class="text-black text-lg md:text-xl lg:text-2xl font-semibold grow">
    Asta este pagina "Servicii".
  </div>
</div>
</Layout>
