---
/* Astro component */
---

<div
  class="box-content           /* box-sizing: content-box */
         mx-auto               /* margin-inline: auto */
         w-[calc(100%-(var(--space-xl)*2))]  /* width: calc(100% - (var(--space-xl) * 2)) */
         max-w-[800px]         /* max-inline-size: 800px */
         px-[var(--space-xl)]" /* padding-inline: var(--space-xl) */
>
  <slot />
</div>
