---
---

<footer class="mt-m border-t border-outline bg-background">
  <div class="mx-auto w-full max-w-5xl px-m py-m">
    <nav
      class="
        grid gap-y-2 text-sm text-start
        grid-cols-2 md:grid-cols-5
        lg:flex lg:flex-wrap lg:items-center lg:justify-between
      "
    >
      <a
        href="/despre"
        class="underline underline-offset-2 hover:no-underline"
      >
        Despre Dr. Pavlisan
      </a>

      <a
        href="/terapii"
        class="underline underline-offset-2 hover:no-underline"
      >
        Terapii oferite
      </a>

      <a
        href="/colophon"
        class="underline underline-offset-2 hover:no-underline"
      >
        Colophon
      </a>

      <a
        href="/contact"
        class="underline underline-offset-2 hover:no-underline"
      >
        Contact
      </a>

      <a
        href="/"
        class="underline underline-offset-2 hover:no-underline"
      >
        Acasă
      </a>
    </nav>
  </div>
</footer>
