---
---
<footer class="border-t mt-xl py-xl border-outline">
  <div class="mx-m">
    <div class="flex justify-start gap-4">
      <a href="/despre" class="text-center">Despre Dr. Pavlisan</a>
      <a href="/contact" class="text-center">Contact</a>
      <a href="/colophon" class="text-center">Colophon</a>
      <a href="/terapii" class="text-center">Terapii oferite</a>
      <a href="/" class="text-center">Acasă</a>
    </div>
  </div>
</footer>