---
// src/components/Footer.astro
import Center from '../components/Center.astro';
---
<footer class="border-t border-muted my-s">
  <Center>
    <div
      class="px-m py-s grid grid-cols-[repeat(auto-fit,minmax(var(--spacing-xl),1fr))] text-step-2 gap-xs"
    >
    <a href="/about" class="text-center">Despre Dr. Pavlisan</a>
    <a href="/colophon" class="text-center">Colophon</a>
    <a href="/contact" class="text-center">Contact</a>
    <a href="/" class="text-center">Acasă</a>
    </div>
  </Center>
</footer>
