---
---
<footer class="border-t flex flex-direction-row border-muted mt-2xl py-xl">
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-4">
        <a href="/despre" class="text-center">Despre Dr. Pavlisan</a>
        <a href="/contact" class="text-center">Contact</a>
        <a href="/colophon" class="text-center">Colophon</a>
        <a href="/terapii" class="text-center">Terapii oferite</a>
        <a href="/" class="text-center">Acasă</a>
    </div>
    <div class="bg-blue-400/90 text-white rounded-xl px-4 py-2 inline-block">
  Your text goes here
    </div>


    <!-- <div
      class="grid grid-cols-xl text-step-1 gap-xs"
    >

    </div> -->
</footer>