---
// src/components/Footer.astro---
import Center from "../components/Center.astro";
---
<footer class="border-t-1 border-muted my-s">
    <Center>
        <div>
            <a href="/about" class="flex-auto">About</a>
            <a href="/colophon" class="flex-auto">Colophon</a>
        </div>
        <div>   
            <a href="/about" class="flex-auto">About</a>
        </div>
    </Center>

</footer>