---
// src/components/NavBar.astro
---

<header>
  <div class="h-2xl mx-auto flex items-center justify-between">
    <a href="/" class="text-3xl font-bold italic">acu.ura!</a>

    <nav class="flex gap-[var(--space-xs)] text-2xl">
      <a href="/contact" class="hover:underline">Contact</a>
      <a href="/colophon" class="hover:underline">Colophon</a>
    </nav>
  </div>
</header>
