---
---  
<header>
  <div class="h-2xl mx-auto flex items-center justify-between">
    <a href="/" class="text-step-3 font-bold italic">Dr. Pavlisan</a>

    <nav class="flex gap-xs text-step-3 font-medium">
      <a href="/about">Despre</a>
      <a href="/contact">Contact</a>
    </nav>
  </div>
</header>
