---
---  
<header class="sticky top-0 bg-bg py-s">
  <div class="mx-auto m flex items-center justify-between">
    <a href="/" class="text-step-2 font-bold italic">Dr. Pavlisan</a>

    <nav class="flex gap-m text-step-1 font-medium">
      <a href="/about">Despre</a>
      <a href="/contact">Contact</a>
    </nav>
  </div>
</header>
