---
// src/components/NavBar.astro
---
<header>
  <div class="mx-auto h-15 flex items-center justify-between">
    <a href="/" class="font-bold italic text-2xl">Dr. Pavlisan</a>

    <nav class="flex gap-[var(--space-xs)] text-s">
      <a href="/contact" class="hover:underline">Contact</a>
      <a href="/colophon"  class="hover:underline">Colophon</a>
    </nav>
  </div>
</header>
