---
// src/components/NavBar.astro
---
<header>
  <div class="mx-auto h-2xl flex items-center justify-between">
    <a href="/" class="font-bold italic text-3xl">acu.ura!</a>

    <nav class="flex gap-[var(--space-xs)] text-2xl">
      <a href="/contact" class="hover:underline">Contact</a>
      <a href="/colophon"  class="hover:underline">Colophon</a>
    </nav>
  </div>
</header>
