---
interface Props {
  scheduleData: Array<{ day: string; hours: string }> | null;
}

const { scheduleData } = Astro.props;
---

<dl class="border-muted flex flex-col overflow-hidden rounded-xl border">
  <div class="bg-muted p-s">
    <dt class="text-xl font-bold">Program de Lucru</dt>
  </div>
  <div class="p-m gap-xs flex flex-col">
    {scheduleData ? (
      scheduleData.map(({ day, hours }) => (
        <div class="gap-s grid grid-cols-[minmax(5rem,auto)_1fr]">
          <dt class="font-bold">{day}</dt>
          <dd>
            {hours.includes(' și ') ? (
              hours.split(' și ').map((part, i, arr) => (
                <>
                  {part}
                  {i < arr.length - 1 && <span class="mx-xs text-muted">și</span>}
                </>
              ))
            ) : (
              hours
            )}
          </dd>
        </div>
      ))
    ) : (
      <div class="text-red-500">Failed to load schedule</div>
    )}
  </div>
</dl>
