---
import { ClientRouter } from 'astro:transitions';
import Header from '../components/Header.astro';
import Center from '../components/Center.astro';
import Footer from '../components/Footer.astro';
import "@/styles/starwind.css";
import '@/styles/global.css';

const pageTransition = {
  forwards: {
    old: {
      name: 'slideUpOut',
      duration: 'var(--transition-duration)',
      easing: 'var(--transition-easing)',
      fillMode: 'forwards',
    },
    new: {
      name: 'slideUpIn',
      duration: 'var(--transition-duration)',
      easing: 'var(--transition-easing)',
      fillMode: 'forwards',
    },
  },
  backwards: {
    old: {
      name: 'slideDownOut',
      duration: 'var(--transition-duration)',
      easing: 'var(--transition-easing)',
      fillMode: 'forwards',
    },
    new: {
      name: 'slideDownIn',
      duration: 'var(--transition-duration)',
      easing: 'var(--transition-easing)',
      fillMode: 'forwards',
    },
  },
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Demo</title>
    <ClientRouter />
  </head>
  <body>
    <Center>
      <Header />
      <main transition:animate={pageTransition}>
        <slot />
      </main>
    </Center>
    <Footer />
  </body>
</html>
