---
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";
import "../styles/global.css";

const pageTransition = {
  forwards: {
    old: {
      name: "slideDownFade",
      duration: "var(--transition-duration)",
      easing: "var(--transition-easing)",
      fillMode: "forwards",
    },
    new: {
      name: "slideUpFade",
      duration: "var(--transition-duration)",
      easing: "var(--transition-easing)",
      fillMode: "forwards",
    },
  },
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Demo</title>
    <ClientRouter />
  </head>
  <body>
    <Header />

    <main transition:animate={pageTransition} class="p-4">
      <slot />
    </main>
  </body>
</html>